/* table of contents----------------------------------
1.フッター
2.ボタンエリア
3.フッター固定ナビ
----------------------------------------------------*/

//1.フッター
.footer {
    font-size: $tiny_rem;
    background: $darkblue;
    padding: $wide*2 $wide;
    color: $white;
    text-align: center;
    margin-bottom: $wide*4.4;
    ul {
        &.sns {
            text-align: center;
            margin-bottom: $wide;
            font-size: 0;
            li {
                margin-right: $wide*1.4;
                display: inline-block;
                &:last-of-type {
                    margin: 0;
                }
                a {
                    font-size: 3rem;
                    color: $white;
                }
            }
        }
        &.info {
            @include flexCenter;
            flex-wrap: wrap;
            li {
                margin: $wide;
                a {
                    font-size: $normal_rem;
                    color: $white;
                }
            }
        }
    }
    small {
        text-align: center;
        display: block;
        margin-top: $wide;
        font-size: $small_rem;
        line-height: 1.4;
    }
    .info {
        margin: $moderate 0 $wide*2.4;
        p {
            font-weight: bold;
            margin-bottom: $wide;
        }
        &_title {
            font-size: $large_rem;
        }
        &_tel {
            font-size: $large_rem;
            .fa-mobile-alt {
                margin-right: 4px;
                font-size: 1.5rem;
            }
        }
        &_date {
            font-size: $normal_rem;
            letter-spacing: 1.3px;
            line-height: 1.4;
        }
    }
}

//2.ボタンエリア
.btnArea {
    margin: $wide*2;
    div {
        &:last-of-type {
            margin-top: $wide*2;
        }
    }
    a {
        height: $wide*4;
        line-height: $wide*4;
        font-size: $large_rem;
        .fa-clipboard {
            margin-right: 4px;
            font-size: 2rem;
        }
        .fa-question-circle {
            margin-right: 4px;
            font-size: 2rem;
        }
    }
}

//3.フッター固定ナビ
.fixednav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $border;
    ul {
        display: flex;
        li {
            width: 50%;
            a {
                display: block;
                color: $white;
                font-size: 1.8rem;
                text-align: center;
                height: $wide*4.4;
                line-height: $wide*4.4;
            }
            &:first-of-type {
                a {
                    background-color: $darkblue;
                }
            }
            &:nth-child(2) {
                a {
                    background-color: $pink;
                }
            }
        }
    }
}
